!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title Login
    %link{:href => "/assets/applicationStylesheet.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #Sign_in_page
      %svg.Rectangle_164
        %lineargradient#LinearGradientFill1{:spreadmethod => "pad", :x1 => "0", :x2 => "0", :y1 => "0", :y2 => "1"}
          %stop{:offset => "0", "stop-color" => "#8280ff", "stop-opacity" => "1"}
          %stop{:offset => "1", "stop-color" => "#7e96ff", "stop-opacity" => "1"}
        %rect#Rectangle_164{:fill => "url(#LinearGradientFill1)", :height => "960", :rx => "0", :ry => "0", :width => "800", :x => "0", :y => "0"}
      #text
        %svg.Rectangle_163
          %rect#Rectangle_163{:fill => "rgba(255,255,255,1)", :height => "775", :rx => "0", :ry => "0", :width => "646", :x => "0", :y => "0"}
        #Logo
          %span PEOPLESOFT
        = form_tag do  
          #username
            #Username
              -if flash[:alert]
                %p= flash[:alert]
              
              = text_field_tag :username, params[:username], :class => 'input_field', :placeholder => "Username", :id => 'Username'
            %svg.Path_297{:viewbox => "-835.08 2509.809 322.917 2"}
              %path#Path_297{:d => "M -835.0799560546875 2509.80859375 C -835.0799560546875 2509.80859375 -512.1632690429688 2509.80859375 -512.1632690429688 2509.80859375", :fill => "transparent", "shape-rendering" => "auto", :stroke => "rgba(233,233,240,1)", "stroke-linecap" => "butt", "stroke-linejoin" => "miter", "stroke-miterlimit" => "4", "stroke-width" => "2px"}
          #password
            #Password 
              = password_field_tag :password, params[:password],:class => 'input_field', :placeholder => "Password", :id => 'Password'
            %svg.Path_297_A25_Path_2{:viewbox => "-835.08 2509.809 322.917 2"}
              %path#Path_297_A25_Path_2{:d => "M -835.0799560546875 2509.80859375 C -835.0799560546875 2509.80859375 -512.1632690429688 2509.80859375 -512.1632690429688 2509.80859375", :fill => "transparent", "shape-rendering" => "auto", :stroke => "rgba(233,233,240,1)", "stroke-linecap" => "butt", "stroke-linejoin" => "miter", "stroke-miterlimit" => "4", "stroke-width" => "2px"}
          #Welcome_Back__Please_login_to_
            %span Welcome
            %span=link_to "Back", courses_path
            %span, Please login to your account.
          #RememberMe
            %input.Rectangle_165{:type => "checkbox"}/
            #Remember_me
              %span Remember me
          #Forgot_Password
            %span=link_to "Forgot Password", admin_adminlist_path
          #btn_login
            %svg.Rectangle_166
              %rect#Rectangle_166{:fill => "rgba(67,66,93,1)", :height => "41", :rx => "4", :ry => "4", "shape-rendering" => "auto", :stroke => "rgba(67,66,93,1)", "stroke-linecap" => "butt", "stroke-linejoin" => "miter", "stroke-miterlimit" => "4", "stroke-width" => "1px", :width => "150", :x => "0", :y => "0"}
              %span Login
            = submit_tag "Login", :class => 'loginInput', :id => 'Login'
        #btn_signup
          %svg.Rectangle_167
            %rect#Rectangle_167{:fill => "transparent", :height => "41", :rx => "4", :ry => "4", "shape-rendering" => "auto", :stroke => "rgba(67,66,93,1)", "stroke-linecap" => "butt", "stroke-linejoin" => "miter", "stroke-miterlimit" => "4", "stroke-width" => "1px", :width => "149", :x => "0", :y => "0"}
          #Sign_up
            %span= link_to "Sign up", admin_create_path
      #Group_244
        %svg.Rectangle_176
          %lineargradient#LinearGradientFill2{:spreadmethod => "pad", :x1 => "0.897", :x2 => "0.206", :y1 => "0.14", :y2 => "0.877"}
            %stop{:offset => "0", "stop-color" => "#242348", "stop-opacity" => "1"}
            %stop{:offset => "1", "stop-color" => "#5a55aa", "stop-opacity" => "1"}
          %rect#Rectangle_176{:fill => "url(#LinearGradientFill2)", :height => "775", :rx => "0", :ry => "0", :width => "646", :x => "0", :y => "0"}
        #Group_4
          %svg.image_style
            %rect{:fill => "url(#Group_4_A25_Group_13_pattern)", :height => "100%", :width => "100%"}
            %pattern#Group_4_A25_Group_13_pattern{:elementid => "Group_4_A25_Group_13", :height => "100%", :width => "100%", :x => "0", :y => "0"}
              %image{:height => "100%", :href => "/images/Group_4_A25_Group_13_pattern.png", :width => "100%", :x => "0", "xlink:href" => "Group_4_A25_Group_13_pattern.png", :y => "0"}
