%h1 TEMP people soft recreate
%h2 Catalog Data
%h5 Course ID:		IDNUM <!--ID num needs to be programmed --!>
<!-- THIS IS WHERE THE OUTER DIV SHOULD GO  --!>
%b *Effective Start Date:
=date_select "effective date", "start date", { start_year: Date.today.year}      
%br

%b *Status: 
%select{ :name=>"status" }
  %option{:value => "1"}= "Inactive"
  %option{:value => "2"}= "Active" 

%b *Description:
=text_field(:desciption, "Description")
%br
%br
%b Long Course Title:                  
=text_area(:long_title, "Long Course Title", cols: 100, rows: 1)
%br
%b Long Description 
=text_field(:long_description, "Long Couse Description", cols: 100, rows: 5)
%br
<!-- start of inner div/table --!>
%br
%br
%table
  %th Course units/Hours/Count
  %br
  %tr
    %td <b> Minimum Units  </b>
    %td= number_field_tag name: "min_units", min:0, step: 1
    %td <b> Last Course of Mult Term Seq </b>
    %td= check_box_tag 'last_of_mult_term'
  %tr
    %td <b> Maximum Units  </b>
    %td= number_field_tag name: "max_units", min:0, step: 1
    %td <b>Enrolement Unit Load Calc Type </b>
    %td= select_tag "calc_type", raw("<option>Actual Units Calculation</option><option>Progress Units Calculation</option>")
  %tr
    %td <b> Academic Progress Units  </b>
    %td= number_field_tag name: "progress_units", min:0, step: 1       
    %td <b> Course Count</b>                                                                                                   
    %td= number_field_tag name: "course_count", min:0, step: 1 
  %tr                                                                                                                                       
    %td <b> Financial Aid Progress Units </b>                                                                                           
    %td= number_field_tag name: "financial_progress_units", min:0, step: 1            
    %td <b> Course Contact Hours</b>                                                                                                
    %td= number_field_tag name: "contact_hours", min:0    

%table
  %th Course Grading
  %br
  %tr
    %td <b>Grading Basis: </b>
    %td= select_tag "grading_basis", raw("<option>M10</option><option>M11</option><option>GS8</option><option>GS5</option>NOG</option>")
    <!--The rest of the stuff in the screenshots in this section don't show up on the data, need to clarify whats up  --!> 
    <!-- Course Topics functionality should be added around here --!>

%h2 Offerings

%table 
  %th Course Offering
  %br
  %tr
    %td <b>Offering Number </b>
    %td= number_field_tag name: "offering_num", min:0, step: 1
    %td <b>Catalog Number</b>
    %td= text_field_tag name: "catalog_num" 
  %tr
    %td <b>Subject</b>
    %td= text_field_tag name: "subject"
    %td <b> Campus </b>
    %td= text_field_tag name: "campus"
  %tr
    %td <b>Academic Organisation</b>
    %td= text_field_tag name: "academic_org"
    %td <b>Schedule Course</b>
    %td= select_tag "schedule_course", raw("<option>Yes</option><option>No</option>")
    <!-- add functionality to add multiple owners --!>

  <!-- for each where catalogue number is the same as the current course --!>
  %tr
    %td <b>Primary Component</b>
    %td= text_field_tag name: "primary_component"
    %td <b>Section Size</b>
    %td= number_field_tag name: "sect_size", min:0
  %tr
    %td <b>Contact Hours</b>
    %td= number_field_tag name: "contact", min:0, step:0.5
    %td <b>Splus Templates Required</b>
    %td= number_field_tag name: "splus_templates"
  %tr
    %td <b>Component</b>
    %td= select_tag "component", raw("<option>LEC</option><option>SEM</option><option>TUT</option><option>WRK</option>")



%h2 Conponents




%h2 Scheduling
%h2 Publication 
