= form_for @course, url: courses_path(@course), method: :put do |f|
    %div.form-row
        %div{class: "form-group col-md-5 ml-4"}
            = f.label :short_title
            = f.text_field :short_title, class: "form-control"
        %div{class: "form-group col-md-5 ml-4"}
            = f.label :long_title
            = f.text_field :long_title, class: "form-control"
    
    %div.form-row
        %div{class: "form-group col-md-5 ml-4"}
            = f.label :description
            = f.text_area :description, class: "form-control", rows: "3"

        
    %div.action
        = f.submit 'Update', class: "btn btn-warning col-md-3 ml-4", data: { confirm: 'Are you sure?' }
        = link_to 'Back', @course,  :class => 'btn btn-secondary col-md-3 ml-4'