= form_for :course, url: courses_search_path, method: :post do |f|
	%div.form-group
		%div.form-row.justify-content-center
			%div.col-2
				= f.text_field :course_id, class: "form-control", placeholder: "Course ID"
			%div.col-6
				= f.text_field :course_title, class: "form-control", placeholder: "Course Title"
			%div.col-2-md.form-check.form-check-inline
				= f.check_box :hide_inactive, class: "form-check-input"
				= f.label "Hide Inactive", class: "form-check-label"
			%div.action
				= f.submit 'Search', class: "btn btn-primary"
			%div.col-2
				-if session[:type] == nil
					%span Not Logged in 
					= link_to "Login", admin_login_path, class: "btn btn-success"
				-else
					%span Logged in as:
					%strong #{session[:user_name]}
					= link_to "Logout", admin_destroy_path, class: "btn btn-danger"