-# %h1.display-3.text-center= @course.long_title
-# %h3.display-3.text-center Offering List

-# %div.row.justify-content-center
-#     %div.col-9
-#         %table.table.table-hover
-#             %thead.thead-dark
-#                 %tr
-#                     %th.text-center
-#                         %p Subject
-#                     %th.text-center
-#                         %p Campus
-#                     %th.text-center
-#                         = link_to "Back", course_path, class: "btn btn-secondary"
-#             %tbody
-#                 - @theofferings.each do |offer|
-#                     %tr
-#                         %td.text-center= offer.subject
-#                         %td.text-center= offer.campus
-#                         %td
								
!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title Offerings Tab
    %link#applicationStylesheet{:href => "/assets/offerings_tab.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #Offerings_Tab
      #COMPUTER_SYSTEMS_UG
        %span= @course.long_title
      #Total_Earnings
        %svg.BG
          %rect#BG{:fill => "rgba(255,255,255,1)", :height => "133", :rx => "0", :ry => "0", :width => "370", :x => "0", :y => "0"}
        #ID29_02_2020
          %span= @course.effective_date
        #Date_Started
          %span Date Started
      #Total_Sales
        %svg.BG_A24_Rectangle_2
          %rect#BG_A24_Rectangle_2{:fill => "rgba(255,255,255,1)", :height => "133", :rx => "0", :ry => "0", :width => "370", :x => "0", :y => "0"}
        #ID0283823
          %span= @course.admin_course_id
        #Course_ID
          %span Course ID
      #Total_Views
        %svg.BG_A24_Rectangle_3
          %rect#BG_A24_Rectangle_3{:fill => "rgba(255,255,255,1)", :height => "133", :rx => "0", :ry => "0", :width => "370", :x => "0", :y => "0"}
        #Computer_Systems
          %span= @course.long_title
        #Long_Course_Title
          %span Long Course Title
      #Catalog_Data
        %span= link_to 'Catalog Data', courses_path
      #Offerings
        %span{:style => "font-weight: 900"} Offerings
      #Components
        %span Components
      #Scheduling
        %span Scheduling
      #Publication
        %span Publication
      %svg.Line_2
        %path#Line_2{:d => "M 0 0 L 45 0", :fill => "transparent", "shape-rendering" => "auto", :stroke => "rgba(180,28,96,1)", "stroke-linecap" => "butt", "stroke-linejoin" => "miter", "stroke-miterlimit" => "4", "stroke-width" => "3px"}
      #Alexander
        %span Alexander
      #Admin
        %span Admin
      #title_24px
        %svg.Path_311{:viewbox => "5 4 21.67 22.996"}
          %path#Path_311{:d => "M 5.000000476837158 4 L 5.000000476837158 8.59912109375 L 13.51305675506592 8.59912109375 L 13.51305675506592 26.99560546875 L 18.15653991699219 26.99560546875 L 18.15653991699219 8.59912109375 L 26.66959571838379 8.59912109375 L 26.66959571838379 4 L 5.000000476837158 4 Z", :fill => "rgba(248,113,145,1)"}
        %svg.Path_312{:viewbox => "0 0 37 37"}
          %path#Path_312{:d => "M 0 0 L 37 0 L 37 37 L 0 37 L 0 0 Z", :fill => "transparent"}
      #widgets_24px
        %svg.Path_313{:viewbox => "3 1.69 32.32 32.31"}
          %path#Path_313{:d => "M 19.72878074645996 20.61418914794922 L 19.72878074645996 34 L 33.11180114746094 34 L 33.11180114746094 20.61418914794922 L 19.72878074645996 20.61418914794922 Z M 3.000000238418579 34 L 16.38302421569824 34 L 16.38302421569824 20.61418914794922 L 3.000000238418579 20.61418914794922 L 3.000000238418579 34 Z M 3.000000238418579 3.881926536560059 L 3.000000238418579 17.26773834228516 L 16.38302421569824 17.26773834228516 L 16.38302421569824 3.881926536560059 L 3.000000238418579 3.881926536560059 Z M 25.85151290893555 1.690000057220459 L 16.38302421569824 11.1437292098999 L 25.85151290893555 20.61418914794922 L 35.31999969482422 11.1437292098999 L 25.85151290893555 1.690000057220459 Z", :fill => "rgba(52,159,198,1)"}
        %svg.Path_314{:viewbox => "0 0 37 37"}
          %path#Path_314{:d => "M 0 0 L 37 0 L 37 37 L 0 37 L 0 0 Z", :fill => "transparent"}
      #date_range_24px
        %svg.Path_315{:viewbox => "3 2 31 33"}
          %path#Path_315{:d => "M 13.33333301544189 16.85000038146973 L 9.888888359069824 16.85000038146973 L 9.888888359069824 20.14999961853027 L 13.33333301544189 20.14999961853027 L 13.33333301544189 16.85000038146973 Z M 20.22222328186035 16.85000038146973 L 16.77777862548828 16.85000038146973 L 16.77777862548828 20.14999961853027 L 20.22222328186035 20.14999961853027 L 20.22222328186035 16.85000038146973 Z M 27.11111068725586 16.85000038146973 L 23.66666793823242 16.85000038146973 L 23.66666793823242 20.14999961853027 L 27.11111068725586 20.14999961853027 L 27.11111068725586 16.85000038146973 Z M 30.55555534362793 5.300000190734863 L 28.83333396911621 5.300000190734863 L 28.83333396911621 2 L 25.38888931274414 2 L 25.38888931274414 5.300000190734863 L 11.61111068725586 5.300000190734863 L 11.61111068725586 2 L 8.166666030883789 2 L 8.166666030883789 5.300000190734863 L 6.444443702697754 5.300000190734863 C 4.532777786254883 5.300000190734863 3.017222166061401 6.784999847412109 3.017222166061401 8.59999942779541 L 2.999999761581421 31.70000076293945 C 2.999999761581421 33.51499938964844 4.532777786254883 35 6.444443702697754 35 L 30.55555534362793 35 C 32.45000076293945 35 34 33.51499938964844 34 31.70000076293945 L 34 8.59999942779541 C 34 6.784999847412109 32.45000076293945 5.300000190734863 30.55555534362793 5.300000190734863 Z M 30.55555534362793 31.70000076293945 L 6.444443702697754 31.70000076293945 L 6.444443702697754 13.54999923706055 L 30.55555534362793 13.54999923706055 L 30.55555534362793 31.70000076293945 Z", :fill => "rgba(120,70,194,1)"}
        %svg.Path_316{:viewbox => "0 0 37 37"}
          %path#Path_316{:d => "M 0 0 L 37 0 L 37 37 L 0 37 L 0 0 Z", :fill => "transparent"}
      #Total_Views_A24_Group_7
        %svg.BG_A24_Rectangle_4
          %rect#BG_A24_Rectangle_4{:fill => "rgba(255,255,255,1)", :height => "341", :rx => "0", :ry => "0", :width => "370", :x => "0", :y => "0"}
      #Head
        %svg.Divider{:viewbox => "0 0 328.748 1"}
          %path#Divider{:d => "M 0 0 L 169.1656799316406 0 L 328.748046875 0 L 328.748046875 1 L 0 1 L 0 0 Z", :fill => "rgba(232,233,236,1)"}
        #Course_Offering__Numerics
          %span Course Offering: Numerics
      #New_Customers
        #Yes
          %span Yes
        #Schedule_Course
          %span Schedule Course
        #Icon
          %svg.Icon_BG
            %ellipse#Icon_BG{:cx => "19", :cy => "19", :fill => "rgba(232,231,255,1)", :rx => "19", :ry => "19"}
          %svg.New_customer_Icon{:viewbox => "0 0 16 16"}
            %lineargradient#LinearGradientFill1{:spreadmethod => "pad", :x1 => "0", :x2 => "0", :y1 => "0", :y2 => "1"}
              %stop{:offset => "0", "stop-color" => "#8280ff", "stop-opacity" => "1"}
              %stop{:offset => "1", "stop-color" => "#7e96ff", "stop-opacity" => "1"}
            %path#New_customer_Icon{:d => "M 12.0009765625 16 L 12.0009765625 13.9996337890625 L 10.00048828125 13.9996337890625 L 10.00048828125 12.0008544921875 L 12.0009765625 12.0008544921875 L 12.0009765625 10.00048828125 L 14.00146484375 10.00048828125 L 14.00146484375 12.0008544921875 L 16 12.0008544921875 L 16 13.9996337890625 L 14.00146484375 13.9996337890625 L 14.00146484375 16 L 12.0009765625 16 Z M 0 16 L 0 15.0006103515625 C 0 12.19970703125 2.20068359375 10.00048828125 5.00048828125 10.00048828125 L 8 10.00048828125 L 8 12.0008544921875 L 5.00048828125 12.0008544921875 C 3.69970703125 12.0008544921875 2.60009765625 12.7996826171875 2.20068359375 13.9996337890625 L 8 13.9996337890625 L 8 16 L 0 16 Z M 2.99951171875 5.000244140625 L 2.99951171875 3.9990234375 C 2.99951171875 1.7998046875 4.79931640625 0 7.0009765625 0 C 9.19970703125 0 10.99951171875 1.7998046875 10.99951171875 3.9990234375 L 10.99951171875 5.000244140625 C 10.99951171875 7.199462890625 9.19970703125 8.999267578125 7.0009765625 8.999267578125 C 4.79931640625 8.999267578125 2.99951171875 7.199462890625 2.99951171875 5.000244140625 Z M 5.00048828125 3.9990234375 L 5.00048828125 5.000244140625 C 5.00048828125 6.099853515625 5.9013671875 7.0006103515625 7.0009765625 7.0006103515625 C 8.10009765625 7.0006103515625 9.0009765625 6.099853515625 9.0009765625 5.000244140625 L 9.0009765625 3.9990234375 C 9.0009765625 2.8995361328125 8.10009765625 2.00048828125 7.0009765625 2.00048828125 C 5.9013671875 2.00048828125 5.00048828125 2.8995361328125 5.00048828125 3.9990234375 Z", :fill => "url(#LinearGradientFill1)"}
      #New_Customers_A24_Group_11
        #Yes_A24_Text_18
          %span Yes
        #Offering_Number
          %span Offering Number
        #Icon_A24_Group_12
          %svg.Icon_BG_A24_Ellipse_2
            %ellipse#Icon_BG_A24_Ellipse_2{:cx => "19", :cy => "19", :fill => "rgba(232,231,255,1)", :rx => "19", :ry => "19"}
          %svg.New_customer_Icon_A24_BooleanGroup_2{:viewbox => "0 0 16 16"}
            %lineargradient#LinearGradientFill2{:spreadmethod => "pad", :x1 => "0", :x2 => "0", :y1 => "0", :y2 => "1"}
              %stop{:offset => "0", "stop-color" => "#8280ff", "stop-opacity" => "1"}
              %stop{:offset => "1", "stop-color" => "#7e96ff", "stop-opacity" => "1"}
            %path#New_customer_Icon_A24_BooleanGroup_2{:d => "M 12.0009765625 16 L 12.0009765625 13.9996337890625 L 10.00048828125 13.9996337890625 L 10.00048828125 12.0008544921875 L 12.0009765625 12.0008544921875 L 12.0009765625 10.00048828125 L 14.00146484375 10.00048828125 L 14.00146484375 12.0008544921875 L 16 12.0008544921875 L 16 13.9996337890625 L 14.00146484375 13.9996337890625 L 14.00146484375 16 L 12.0009765625 16 Z M 0 16 L 0 15.0006103515625 C 0 12.19970703125 2.20068359375 10.00048828125 5.00048828125 10.00048828125 L 8 10.00048828125 L 8 12.0008544921875 L 5.00048828125 12.0008544921875 C 3.69970703125 12.0008544921875 2.60009765625 12.7996826171875 2.20068359375 13.9996337890625 L 8 13.9996337890625 L 8 16 L 0 16 Z M 2.99951171875 5.000244140625 L 2.99951171875 3.9990234375 C 2.99951171875 1.7998046875 4.79931640625 0 7.0009765625 0 C 9.19970703125 0 10.99951171875 1.7998046875 10.99951171875 3.9990234375 L 10.99951171875 5.000244140625 C 10.99951171875 7.199462890625 9.19970703125 8.999267578125 7.0009765625 8.999267578125 C 4.79931640625 8.999267578125 2.99951171875 7.199462890625 2.99951171875 5.000244140625 Z M 5.00048828125 3.9990234375 L 5.00048828125 5.000244140625 C 5.00048828125 6.099853515625 5.9013671875 7.0006103515625 7.0009765625 7.0006103515625 C 8.10009765625 7.0006103515625 9.0009765625 6.099853515625 9.0009765625 5.000244140625 L 9.0009765625 3.9990234375 C 9.0009765625 2.8995361328125 8.10009765625 2.00048828125 7.0009765625 2.00048828125 C 5.9013671875 2.00048828125 5.00048828125 2.8995361328125 5.00048828125 3.9990234375 Z", :fill => "url(#LinearGradientFill2)"}
      #New_Customers_A24_Group_13
        #Yes_A24_Text_20
          %span 2292
        #Catalog_Number
          %span Catalog Number
        #Icon_A24_Group_14
          %svg.Icon_BG_A24_Ellipse_3
            %ellipse#Icon_BG_A24_Ellipse_3{:cx => "19", :cy => "19", :fill => "rgba(232,231,255,1)", :rx => "19", :ry => "19"}
          %svg.New_customer_Icon_A24_BooleanGroup_3{:viewbox => "0 0 16 16"}
            %lineargradient#LinearGradientFill3{:spreadmethod => "pad", :x1 => "0", :x2 => "0", :y1 => "0", :y2 => "1"}
              %stop{:offset => "0", "stop-color" => "#8280ff", "stop-opacity" => "1"}
              %stop{:offset => "1", "stop-color" => "#7e96ff", "stop-opacity" => "1"}
            %path#New_customer_Icon_A24_BooleanGroup_3{:d => "M 12.0009765625 16 L 12.0009765625 13.9996337890625 L 10.00048828125 13.9996337890625 L 10.00048828125 12.0008544921875 L 12.0009765625 12.0008544921875 L 12.0009765625 10.00048828125 L 14.00146484375 10.00048828125 L 14.00146484375 12.0008544921875 L 16 12.0008544921875 L 16 13.9996337890625 L 14.00146484375 13.9996337890625 L 14.00146484375 16 L 12.0009765625 16 Z M 0 16 L 0 15.0006103515625 C 0 12.19970703125 2.20068359375 10.00048828125 5.00048828125 10.00048828125 L 8 10.00048828125 L 8 12.0008544921875 L 5.00048828125 12.0008544921875 C 3.69970703125 12.0008544921875 2.60009765625 12.7996826171875 2.20068359375 13.9996337890625 L 8 13.9996337890625 L 8 16 L 0 16 Z M 2.99951171875 5.000244140625 L 2.99951171875 3.9990234375 C 2.99951171875 1.7998046875 4.79931640625 0 7.0009765625 0 C 9.19970703125 0 10.99951171875 1.7998046875 10.99951171875 3.9990234375 L 10.99951171875 5.000244140625 C 10.99951171875 7.199462890625 9.19970703125 8.999267578125 7.0009765625 8.999267578125 C 4.79931640625 8.999267578125 2.99951171875 7.199462890625 2.99951171875 5.000244140625 Z M 5.00048828125 3.9990234375 L 5.00048828125 5.000244140625 C 5.00048828125 6.099853515625 5.9013671875 7.0006103515625 7.0009765625 7.0006103515625 C 8.10009765625 7.0006103515625 9.0009765625 6.099853515625 9.0009765625 5.000244140625 L 9.0009765625 3.9990234375 C 9.0009765625 2.8995361328125 8.10009765625 2.00048828125 7.0009765625 2.00048828125 C 5.9013671875 2.00048828125 5.00048828125 2.8995361328125 5.00048828125 3.9990234375 Z", :fill => "url(#LinearGradientFill3)"}
      #Top_Product
        %svg.BG_A24_Rectangle_5
          %rect#BG_A24_Rectangle_5{:fill => "rgba(255,255,255,1)", :height => "367", :rx => "0", :ry => "0", :width => "770", :x => "0", :y => "0"}
        #Row_3
          %svg.Divider_A24_Rectangle_6
            %rect#Divider_A24_Rectangle_6{:fill => "rgba(241,241,243,1)", :height => "1", :rx => "0", :ry => "0", :width => "730", :x => "0", :y => "0"}
          %svg.Row_BG
            %rect#Row_BG{:fill => "rgba(255,255,255,1)", :height => "82", :rx => "0", :ry => "0", :width => "730", :x => "0", :y => "0"}
          #School_of_Computer_Science
            %span School of Computer Science
          #Label
            %svg.Label_BG
              %rect#Label_BG{:fill => "rgba(255,202,131,1)", :height => "24", :rx => "12", :ry => "12", :width => "90", :x => "0", :y => "0"}
            #Label_Content
              %span COMPSCI
          #Product_Title
            %span Academic Organisation
          #home_work_24px
            %svg.Path_321{:viewbox => "0 0 36 36"}
              %path#Path_321{:d => "M 0 0 L 36 0 L 36 36 L 0 36 L 0 0 Z", :fill => "transparent"}
            %svg.Path_322{:viewbox => "1.5 8.55 21 22.95"}
              %path#Path_322{:d => "M 12.25500011444092 8.549999237060547 L 1.5 15.71999931335449 L 1.5 31.5 L 9 31.5 L 9 19.5 L 15 19.5 L 15 31.5 L 22.5 31.5 L 22.5 15.375 L 12.25500011444092 8.549999237060547 Z", :fill => "rgba(129,130,255,1)"}
            %svg.Path_323{:viewbox => "25.5 10.5 3 3"}
              %path#Path_323{:d => "M 25.5 10.5 L 28.5 10.5 L 28.5 13.5 L 25.5 13.5 L 25.5 10.5 Z", :fill => "transparent"}
            %svg.Path_324{:viewbox => "15 4.5 19.5 27"}
              %path#Path_324{:d => "M 15 4.5 L 15 6.765000343322754 L 18 8.760000228881836 L 20.59499931335449 10.5 L 22.5 10.5 L 22.5 11.77499961853027 L 25.5 13.78499984741211 L 25.5 16.5 L 28.5 16.5 L 28.5 19.5 L 25.5 19.5 L 25.5 22.5 L 28.5 22.5 L 28.5 25.5 L 25.5 25.5 L 25.5 31.5 L 34.5 31.5 L 34.5 4.5 L 15 4.5 Z M 28.5 13.5 L 25.5 13.5 L 25.5 10.5 L 28.5 10.5 L 28.5 13.5 Z", :fill => "rgba(129,130,255,1)"}
        #Row_2
          %svg.Divider_A24_Rectangle_9
            %rect#Divider_A24_Rectangle_9{:fill => "rgba(241,241,243,1)", :height => "1", :rx => "0", :ry => "0", :width => "730", :x => "0", :y => "0"}
          %svg.Row_BG_A24_Rectangle_10
            %rect#Row_BG_A24_Rectangle_10{:fill => "rgba(255,255,255,1)", :height => "82", :rx => "0", :ry => "0", :width => "730", :x => "0", :y => "0"}
          #North_Terrace_Campus
            %span North Terrace Campus
          #Label_A24_Group_20
            %svg.Label_BG_A24_Rectangle_11
              %rect#Label_BG_A24_Rectangle_11{:fill => "rgba(255,114,133,1)", :height => "24", :rx => "12", :ry => "12", :width => "90", :x => "0", :y => "0"}
            #Label_Content_A24_Text_26
              - @theofferings.each do |offer|
                %span= offer.campus
          #Product_Title_A24_Text_27
            %span Campus
          #assignment_24px
            %svg.Path_319{:viewbox => "0 0 40 40"}
              %path#Path_319{:d => "M 0 0 L 40 0 L 40 40 L 0 40 L 0 0 Z", :fill => "transparent"}
            %svg.Path_320{:viewbox => "5 1.667 30 33.333"}
              %path#Path_320{:d => "M 31.66666603088379 5 L 24.69999885559082 5 C 23.99999809265137 3.066666603088379 22.16666603088379 1.666666626930237 20 1.666666626930237 C 17.83333206176758 1.666666626930237 16 3.0666663646698 15.30000019073486 5 L 8.333333015441895 5 C 6.5 5 5 6.5 5 8.333333015441895 L 5 31.66666603088379 C 5 33.5 6.5 35 8.333333015441895 35 L 31.66666603088379 35 C 33.5 35 35 33.5 35 31.66666603088379 L 35 8.333333015441895 C 35 6.5 33.5 5 31.66666603088379 5 Z M 20 5 C 20.91666603088379 5 21.66666603088379 5.75 21.66666603088379 6.666666507720947 C 21.66666603088379 7.583333492279053 20.91666603088379 8.333333015441895 20 8.333333015441895 C 19.08333206176758 8.333333015441895 18.33333206176758 7.583333492279053 18.33333206176758 6.666666507720947 C 18.33333206176758 5.749999523162842 19.08333206176758 5 20 5 Z M 23.33333206176758 28.33333206176758 L 11.66666603088379 28.33333206176758 L 11.66666603088379 25 L 23.33333206176758 25 L 23.33333206176758 28.33333206176758 Z M 28.33333206176758 21.66666603088379 L 11.66666603088379 21.66666603088379 L 11.66666603088379 18.33333206176758 L 28.33333206176758 18.33333206176758 L 28.33333206176758 21.66666603088379 Z M 28.33333206176758 15 L 11.66666603088379 15 L 11.66666603088379 11.66666603088379 L 28.33333206176758 11.66666603088379 L 28.33333206176758 15 Z", :fill => "rgba(52,159,198,1)"}
        #Row_1
          %svg.Divider_A24_Rectangle_12
            %rect#Divider_A24_Rectangle_12{:fill => "rgba(241,241,243,1)", :height => "1", :rx => "0", :ry => "0", :width => "730", :x => "0", :y => "0"}
          %svg.Row_BG_A24_Rectangle_13
            %rect#Row_BG_A24_Rectangle_13{:fill => "rgba(255,255,255,1)", :height => "82", :rx => "0", :ry => "0", :width => "730", :x => "0", :y => "0"}
          #Computer_Science
            %span Computer Science
          #Label_A24_Group_23
            %svg.Label_BG_A24_Rectangle_14
              %rect#Label_BG_A24_Rectangle_14{:fill => "rgba(105,228,166,1)", :height => "24", :rx => "12", :ry => "12", :width => "90", :x => "0", :y => "0"}
            #Label_Content_A24_Text_29
              - @theofferings.each do |offer|
                %span= offer.subject
          #Product_Title_A24_Text_30
            %span Subject
          #subject_24px
            %svg.Path_317{:viewbox => "7 8.75 28 24.5"}
              %path#Path_317{:d => "M 24.5 29.75 L 7 29.75 L 7 33.25 L 24.5 33.25 L 24.5 29.75 Z M 35 15.75 L 7 15.75 L 7 19.25 L 35 19.25 L 35 15.75 Z M 7 26.25 L 35 26.25 L 35 22.75 L 7 22.75 L 7 26.25 Z M 7 8.75 L 7 12.25 L 35 12.25 L 35 8.75 L 7 8.75 Z", :fill => "rgba(199,85,136,1)"}
            %svg.Path_318{:viewbox => "0 0 42 42"}
              %path#Path_318{:d => "M 0 0 L 42 0 L 42 42 L 0 42 L 0 0 Z", :fill => "transparent"}
        #Head_A24_Group_25



        
          %svg.Head_BG
            %rect#Head_BG{:fill => "rgba(245,246,250,1)", :height => "45", :rx => "0", :ry => "0", :width => "730", :x => "0", :y => "0"}
          #Location
            %span Information   
          #ID
            %span ID
          #Information
            %span Title
        #Course_Offering___Locations
          %span Course Offering - Locations
      #Group_245
        %svg{:style => "width:inherit;height:inherit;overflow:visible;"}
          %rect{:fill => "url(#Group_245_A24_Group_28_pattern)", :height => "100%", :width => "100%"}
          %pattern#Group_245_A24_Group_28_pattern{:elementid => "Group_245_A24_Group_28", :height => "100%", :width => "100%", :x => "0", :y => "0"}
            %image{:height => "100%", :href => "/images/Group_245_A24_Group_28_pattern.png", :width => "100%", :x => "0", "xlink:href" => "Group_245_A24_Group_28_pattern.png", :y => "0"}
