%p#notice= notice


-# = link_to 'Edit', edit_course_path(@course)
-# \|
-# = link_to 'Back', courses_path
!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title View Page: Course
    %link#applicationStylesheet{:href => "/assets/view_page.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #View_Page___1
      #COMPUTER_SYSTEMS_UG
        %span= @course.long_title
      #Total_Earnings
        %svg.BG
          %rect#BG{:fill => "rgba(255,255,255,1)", :height => "133", :rx => "0", :ry => "0", :width => "370", :x => "0", :y => "0"}
        #ID29_02_2020
          %span= @course.effective_date
        #Date_Started
          %span Date Started
      #Total_Sales
        %svg.BG_A23_Rectangle_2
          %rect#BG_A23_Rectangle_2{:fill => "rgba(255,255,255,1)", :height => "133", :rx => "0", :ry => "0", :width => "370", :x => "0", :y => "0"}
        #ID0283823
          %span= @course.admin_course_id
        #Course_ID
          %span Course ID
      #Total_Views
        %svg.BG_A23_Rectangle_3
          %rect#BG_A23_Rectangle_3{:fill => "rgba(255,255,255,1)", :height => "133", :rx => "0", :ry => "0", :width => "370", :x => "0", :y => "0"}
        #Computer_Systems
          %span= @course.long_title
        #Long_Course_Title
          %span Long Course Title
      #Total_Views_A23_Group_4
        %svg.BG_A23_Rectangle_4
          %rect#BG_A23_Rectangle_4{:fill => "rgba(255,255,255,1)", :height => "345", :rx => "0", :ry => "0", :width => "1170", :x => "0", :y => "0"}
      #Total_Views_A23_Group_5
        %svg.BG_A23_Rectangle_5
          %rect#BG_A23_Rectangle_5{:fill => "rgba(255,255,255,1)", :height => "341", :rx => "0", :ry => "0", :width => "352", :x => "0", :y => "0"}
      #Total_Views_A23_Group_6
        %svg.BG_A23_Rectangle_6
          %rect#BG_A23_Rectangle_6{:fill => "rgba(255,255,255,1)", :height => "341", :rx => "0", :ry => "0", :width => "352", :x => "0", :y => "0"}
      #Total_Views_A23_Group_7
        %svg.BG_A23_Rectangle_7
          %rect#BG_A23_Rectangle_7{:fill => "rgba(255,255,255,1)", :height => "341", :rx => "0", :ry => "0", :width => "352", :x => "0", :y => "0"}
      #Course_Description
        %span Course Description
      #This_course_introduces_the_ele
        %span
          = @course.description
          %br/
          = succeed "Topics covered include: digital logic, memory, processors, assembly language, virtual machines, recursive descent parsing, code generation and operating systems." do
            %br/
        %br/
      #Catalog_Data
        %span Catalog Data
      #Offerings
        %span Offerings
      #Components
        %span Components
      #Scheduling
        %span Scheduling
      #Publication
        %span Publication
      #Head
        %svg.Divider{:viewbox => "0 0 308 1"}
          %path#Divider{:d => "M 0 0 L 158.4892272949219 0 L 308 0 L 308 1 L 0 1 L 0 0 Z", :fill => "rgba(232,233,236,1)"}
        #Course_Units
          %span Course Units
      #Head_A23_Group_9
        %svg.Divider_A23_Path_2{:viewbox => "0 0 310.748 1"}
          %path#Divider_A23_Path_2{:d => "M 0 0 L 159.9033203125 0 L 310.748046875 0 L 310.748046875 1 L 0 1 L 0 0 Z", :fill => "rgba(232,233,236,1)"}
        #Honours_Count
          %span Honours/Count
      #Head_A23_Group_10
        %svg.Divider_A23_Path_3{:viewbox => "0 0 310.748 1"}
          %path#Divider_A23_Path_3{:d => "M 0 0 L 159.9033203125 0 L 310.748046875 0 L 310.748046875 1 L 0 1 L 0 0 Z", :fill => "rgba(232,233,236,1)"}
        #Course_Grading
          %span Course Grading
      %svg.Divider_A23_Rectangle_8
        %rect#Divider_A23_Rectangle_8{:fill => "rgba(232,233,236,1)", :height => "1", :rx => "0", :ry => "0", :width => "330", :x => "0", :y => "0"}
      #New_Customers
        #ID3_00
          %span 3.00
        #Minimum_Units
          %span Minimum Units
        #Icon
          %svg.Icon_BG
            %ellipse#Icon_BG{:cx => "19", :cy => "19", :fill => "rgba(232,231,255,1)", :rx => "19", :ry => "19"}
          %svg.New_customer_Icon{:viewbox => "0 0 16 16"}
            %path#New_customer_Icon{:d => "M 12.0009765625 16 L 12.0009765625 13.9996337890625 L 10.00048828125 13.9996337890625 L 10.00048828125 12.0008544921875 L 12.0009765625 12.0008544921875 L 12.0009765625 10.00048828125 L 14.00146484375 10.00048828125 L 14.00146484375 12.0008544921875 L 16 12.0008544921875 L 16 13.9996337890625 L 14.00146484375 13.9996337890625 L 14.00146484375 16 L 12.0009765625 16 Z M 0 16 L 0 15.0006103515625 C 0 12.19970703125 2.20068359375 10.00048828125 5.00048828125 10.00048828125 L 8 10.00048828125 L 8 12.0008544921875 L 5.00048828125 12.0008544921875 C 3.69970703125 12.0008544921875 2.60009765625 12.7996826171875 2.20068359375 13.9996337890625 L 8 13.9996337890625 L 8 16 L 0 16 Z M 2.99951171875 5.000244140625 L 2.99951171875 3.9990234375 C 2.99951171875 1.7998046875 4.79931640625 0 7.0009765625 0 C 9.19970703125 0 10.99951171875 1.7998046875 10.99951171875 3.9990234375 L 10.99951171875 5.000244140625 C 10.99951171875 7.199462890625 9.19970703125 8.999267578125 7.0009765625 8.999267578125 C 4.79931640625 8.999267578125 2.99951171875 7.199462890625 2.99951171875 5.000244140625 Z M 5.00048828125 3.9990234375 L 5.00048828125 5.000244140625 C 5.00048828125 6.099853515625 5.9013671875 7.0006103515625 7.0009765625 7.0006103515625 C 8.10009765625 7.0006103515625 9.0009765625 6.099853515625 9.0009765625 5.000244140625 L 9.0009765625 3.9990234375 C 9.0009765625 2.8995361328125 8.10009765625 2.00048828125 7.0009765625 2.00048828125 C 5.9013671875 2.00048828125 5.00048828125 2.8995361328125 5.00048828125 3.9990234375 Z", :fill => "rgba(130,128,255,1)"}
      #New_Customers_A23_Group_13
        #Active
          %span Active
        #Last_Course_of_Mult_Term_Seq
          %span Last Course of Mult Term Seq
        #Icon_A23_Group_14
          %svg.Icon_BG_A23_Ellipse_2
            %ellipse#Icon_BG_A23_Ellipse_2{:cx => "19", :cy => "19", :fill => "rgba(255,231,231,1)", :rx => "19", :ry => "19"}
          %svg.New_customer_Icon_A23_BooleanGroup_2{:viewbox => "0 0 16 16"}
            %path#New_customer_Icon_A23_BooleanGroup_2{:d => "M 12.0009765625 16 L 12.0009765625 13.9996337890625 L 10.00048828125 13.9996337890625 L 10.00048828125 12.0008544921875 L 12.0009765625 12.0008544921875 L 12.0009765625 10.00048828125 L 14.00146484375 10.00048828125 L 14.00146484375 12.0008544921875 L 16 12.0008544921875 L 16 13.9996337890625 L 14.00146484375 13.9996337890625 L 14.00146484375 16 L 12.0009765625 16 Z M 0 16 L 0 15.0006103515625 C 0 12.19970703125 2.20068359375 10.00048828125 5.00048828125 10.00048828125 L 8 10.00048828125 L 8 12.0008544921875 L 5.00048828125 12.0008544921875 C 3.69970703125 12.0008544921875 2.60009765625 12.7996826171875 2.20068359375 13.9996337890625 L 8 13.9996337890625 L 8 16 L 0 16 Z M 2.99951171875 5.000244140625 L 2.99951171875 3.9990234375 C 2.99951171875 1.7998046875 4.79931640625 0 7.0009765625 0 C 9.19970703125 0 10.99951171875 1.7998046875 10.99951171875 3.9990234375 L 10.99951171875 5.000244140625 C 10.99951171875 7.199462890625 9.19970703125 8.999267578125 7.0009765625 8.999267578125 C 4.79931640625 8.999267578125 2.99951171875 7.199462890625 2.99951171875 5.000244140625 Z M 5.00048828125 3.9990234375 L 5.00048828125 5.000244140625 C 5.00048828125 6.099853515625 5.9013671875 7.0006103515625 7.0009765625 7.0006103515625 C 8.10009765625 7.0006103515625 9.0009765625 6.099853515625 9.0009765625 5.000244140625 L 9.0009765625 3.9990234375 C 9.0009765625 2.8995361328125 8.10009765625 2.00048828125 7.0009765625 2.00048828125 C 5.9013671875 2.00048828125 5.00048828125 2.8995361328125 5.00048828125 3.9990234375 Z", :fill => "rgba(255,128,128,1)"}
      #New_Customers_A23_Group_15
        #M10
          %span M10
        #Grading_Basis
          %span Grading Basis
        #Icon_A23_Group_16
          %svg.Icon_BG_A23_Ellipse_3
            %ellipse#Icon_BG_A23_Ellipse_3{:cx => "19", :cy => "19", :fill => "rgba(210,180,253,1)", :rx => "19", :ry => "19"}
          %svg.New_customer_Icon_A23_BooleanGroup_3{:viewbox => "0 0 16 16"}
            %path#New_customer_Icon_A23_BooleanGroup_3{:d => "M 12.0009765625 16 L 12.0009765625 13.9996337890625 L 10.00048828125 13.9996337890625 L 10.00048828125 12.0008544921875 L 12.0009765625 12.0008544921875 L 12.0009765625 10.00048828125 L 14.00146484375 10.00048828125 L 14.00146484375 12.0008544921875 L 16 12.0008544921875 L 16 13.9996337890625 L 14.00146484375 13.9996337890625 L 14.00146484375 16 L 12.0009765625 16 Z M 0 16 L 0 15.0006103515625 C 0 12.19970703125 2.20068359375 10.00048828125 5.00048828125 10.00048828125 L 8 10.00048828125 L 8 12.0008544921875 L 5.00048828125 12.0008544921875 C 3.69970703125 12.0008544921875 2.60009765625 12.7996826171875 2.20068359375 13.9996337890625 L 8 13.9996337890625 L 8 16 L 0 16 Z M 2.99951171875 5.000244140625 L 2.99951171875 3.9990234375 C 2.99951171875 1.7998046875 4.79931640625 0 7.0009765625 0 C 9.19970703125 0 10.99951171875 1.7998046875 10.99951171875 3.9990234375 L 10.99951171875 5.000244140625 C 10.99951171875 7.199462890625 9.19970703125 8.999267578125 7.0009765625 8.999267578125 C 4.79931640625 8.999267578125 2.99951171875 7.199462890625 2.99951171875 5.000244140625 Z M 5.00048828125 3.9990234375 L 5.00048828125 5.000244140625 C 5.00048828125 6.099853515625 5.9013671875 7.0006103515625 7.0009765625 7.0006103515625 C 8.10009765625 7.0006103515625 9.0009765625 6.099853515625 9.0009765625 5.000244140625 L 9.0009765625 3.9990234375 C 9.0009765625 2.8995361328125 8.10009765625 2.00048828125 7.0009765625 2.00048828125 C 5.9013671875 2.00048828125 5.00048828125 2.8995361328125 5.00048828125 3.9990234375 Z", :fill => "rgba(120,70,194,1)"}
      #New_Customers_A23_Group_17
        #ID3_00_A23_Text_24
          %span 3.00
        #Maximum_Units
          %span Maximum Units
        #Icon_A23_Group_18
          %svg.Icon_BG_A23_Ellipse_4
            %ellipse#Icon_BG_A23_Ellipse_4{:cx => "19", :cy => "19", :fill => "rgba(232,231,255,1)", :rx => "19", :ry => "19"}
          %svg.New_customer_Icon_A23_BooleanGroup_4{:viewbox => "0 0 16 16"}
            %path#New_customer_Icon_A23_BooleanGroup_4{:d => "M 12.0009765625 16 L 12.0009765625 13.9996337890625 L 10.00048828125 13.9996337890625 L 10.00048828125 12.0008544921875 L 12.0009765625 12.0008544921875 L 12.0009765625 10.00048828125 L 14.00146484375 10.00048828125 L 14.00146484375 12.0008544921875 L 16 12.0008544921875 L 16 13.9996337890625 L 14.00146484375 13.9996337890625 L 14.00146484375 16 L 12.0009765625 16 Z M 0 16 L 0 15.0006103515625 C 0 12.19970703125 2.20068359375 10.00048828125 5.00048828125 10.00048828125 L 8 10.00048828125 L 8 12.0008544921875 L 5.00048828125 12.0008544921875 C 3.69970703125 12.0008544921875 2.60009765625 12.7996826171875 2.20068359375 13.9996337890625 L 8 13.9996337890625 L 8 16 L 0 16 Z M 2.99951171875 5.000244140625 L 2.99951171875 3.9990234375 C 2.99951171875 1.7998046875 4.79931640625 0 7.0009765625 0 C 9.19970703125 0 10.99951171875 1.7998046875 10.99951171875 3.9990234375 L 10.99951171875 5.000244140625 C 10.99951171875 7.199462890625 9.19970703125 8.999267578125 7.0009765625 8.999267578125 C 4.79931640625 8.999267578125 2.99951171875 7.199462890625 2.99951171875 5.000244140625 Z M 5.00048828125 3.9990234375 L 5.00048828125 5.000244140625 C 5.00048828125 6.099853515625 5.9013671875 7.0006103515625 7.0009765625 7.0006103515625 C 8.10009765625 7.0006103515625 9.0009765625 6.099853515625 9.0009765625 5.000244140625 L 9.0009765625 3.9990234375 C 9.0009765625 2.8995361328125 8.10009765625 2.00048828125 7.0009765625 2.00048828125 C 5.9013671875 2.00048828125 5.00048828125 2.8995361328125 5.00048828125 3.9990234375 Z", :fill => "rgba(130,128,255,1)"}
      #New_Customers_A23_Group_19
        #Actual_Units
          %span Actual Units
        #Enrolment_Unit_Load_Type
          %span Enrolment Unit Load Type
        #Icon_A23_Group_20
          %svg.Icon_BG_A23_Ellipse_5
            %ellipse#Icon_BG_A23_Ellipse_5{:cx => "19", :cy => "19", :fill => "rgba(255,231,231,1)", :rx => "19", :ry => "19"}
          %svg.New_customer_Icon_A23_BooleanGroup_5{:viewbox => "0 0 16 16"}
            %path#New_customer_Icon_A23_BooleanGroup_5{:d => "M 12.0009765625 16 L 12.0009765625 13.9996337890625 L 10.00048828125 13.9996337890625 L 10.00048828125 12.0008544921875 L 12.0009765625 12.0008544921875 L 12.0009765625 10.00048828125 L 14.00146484375 10.00048828125 L 14.00146484375 12.0008544921875 L 16 12.0008544921875 L 16 13.9996337890625 L 14.00146484375 13.9996337890625 L 14.00146484375 16 L 12.0009765625 16 Z M 0 16 L 0 15.0006103515625 C 0 12.19970703125 2.20068359375 10.00048828125 5.00048828125 10.00048828125 L 8 10.00048828125 L 8 12.0008544921875 L 5.00048828125 12.0008544921875 C 3.69970703125 12.0008544921875 2.60009765625 12.7996826171875 2.20068359375 13.9996337890625 L 8 13.9996337890625 L 8 16 L 0 16 Z M 2.99951171875 5.000244140625 L 2.99951171875 3.9990234375 C 2.99951171875 1.7998046875 4.79931640625 0 7.0009765625 0 C 9.19970703125 0 10.99951171875 1.7998046875 10.99951171875 3.9990234375 L 10.99951171875 5.000244140625 C 10.99951171875 7.199462890625 9.19970703125 8.999267578125 7.0009765625 8.999267578125 C 4.79931640625 8.999267578125 2.99951171875 7.199462890625 2.99951171875 5.000244140625 Z M 5.00048828125 3.9990234375 L 5.00048828125 5.000244140625 C 5.00048828125 6.099853515625 5.9013671875 7.0006103515625 7.0009765625 7.0006103515625 C 8.10009765625 7.0006103515625 9.0009765625 6.099853515625 9.0009765625 5.000244140625 L 9.0009765625 3.9990234375 C 9.0009765625 2.8995361328125 8.10009765625 2.00048828125 7.0009765625 2.00048828125 C 5.9013671875 2.00048828125 5.00048828125 2.8995361328125 5.00048828125 3.9990234375 Z", :fill => "rgba(255,128,128,1)"}
      #New_Customers_A23_Group_21
        #ID3_00_A23_Text_28
          %span 3.00
        #Academic_Progress_Units
          %span Academic Progress Units
        #Icon_A23_Group_22
          %svg.Icon_BG_A23_Ellipse_6
            %ellipse#Icon_BG_A23_Ellipse_6{:cx => "19", :cy => "19", :fill => "rgba(232,231,255,1)", :rx => "19", :ry => "19"}
          %svg.New_customer_Icon_A23_BooleanGroup_6{:viewbox => "0 0 16 16"}
            %path#New_customer_Icon_A23_BooleanGroup_6{:d => "M 12.0009765625 16 L 12.0009765625 13.9996337890625 L 10.00048828125 13.9996337890625 L 10.00048828125 12.0008544921875 L 12.0009765625 12.0008544921875 L 12.0009765625 10.00048828125 L 14.00146484375 10.00048828125 L 14.00146484375 12.0008544921875 L 16 12.0008544921875 L 16 13.9996337890625 L 14.00146484375 13.9996337890625 L 14.00146484375 16 L 12.0009765625 16 Z M 0 16 L 0 15.0006103515625 C 0 12.19970703125 2.20068359375 10.00048828125 5.00048828125 10.00048828125 L 8 10.00048828125 L 8 12.0008544921875 L 5.00048828125 12.0008544921875 C 3.69970703125 12.0008544921875 2.60009765625 12.7996826171875 2.20068359375 13.9996337890625 L 8 13.9996337890625 L 8 16 L 0 16 Z M 2.99951171875 5.000244140625 L 2.99951171875 3.9990234375 C 2.99951171875 1.7998046875 4.79931640625 0 7.0009765625 0 C 9.19970703125 0 10.99951171875 1.7998046875 10.99951171875 3.9990234375 L 10.99951171875 5.000244140625 C 10.99951171875 7.199462890625 9.19970703125 8.999267578125 7.0009765625 8.999267578125 C 4.79931640625 8.999267578125 2.99951171875 7.199462890625 2.99951171875 5.000244140625 Z M 5.00048828125 3.9990234375 L 5.00048828125 5.000244140625 C 5.00048828125 6.099853515625 5.9013671875 7.0006103515625 7.0009765625 7.0006103515625 C 8.10009765625 7.0006103515625 9.0009765625 6.099853515625 9.0009765625 5.000244140625 L 9.0009765625 3.9990234375 C 9.0009765625 2.8995361328125 8.10009765625 2.00048828125 7.0009765625 2.00048828125 C 5.9013671875 2.00048828125 5.00048828125 2.8995361328125 5.00048828125 3.9990234375 Z", :fill => "rgba(130,128,255,1)"}
      #New_Customers_A23_Group_23
        #ID3_00_A23_Text_30
          %span 3.00
        #Course_Count
          %span Course Count
        #Icon_A23_Group_24
          %svg.Icon_BG_A23_Ellipse_7
            %ellipse#Icon_BG_A23_Ellipse_7{:cx => "19", :cy => "19", :fill => "rgba(255,231,231,1)", :rx => "19", :ry => "19"}
          %svg.New_customer_Icon_A23_BooleanGroup_7{:viewbox => "0 0 16 16"}
            %path#New_customer_Icon_A23_BooleanGroup_7{:d => "M 12.0009765625 16 L 12.0009765625 13.9996337890625 L 10.00048828125 13.9996337890625 L 10.00048828125 12.0008544921875 L 12.0009765625 12.0008544921875 L 12.0009765625 10.00048828125 L 14.00146484375 10.00048828125 L 14.00146484375 12.0008544921875 L 16 12.0008544921875 L 16 13.9996337890625 L 14.00146484375 13.9996337890625 L 14.00146484375 16 L 12.0009765625 16 Z M 0 16 L 0 15.0006103515625 C 0 12.19970703125 2.20068359375 10.00048828125 5.00048828125 10.00048828125 L 8 10.00048828125 L 8 12.0008544921875 L 5.00048828125 12.0008544921875 C 3.69970703125 12.0008544921875 2.60009765625 12.7996826171875 2.20068359375 13.9996337890625 L 8 13.9996337890625 L 8 16 L 0 16 Z M 2.99951171875 5.000244140625 L 2.99951171875 3.9990234375 C 2.99951171875 1.7998046875 4.79931640625 0 7.0009765625 0 C 9.19970703125 0 10.99951171875 1.7998046875 10.99951171875 3.9990234375 L 10.99951171875 5.000244140625 C 10.99951171875 7.199462890625 9.19970703125 8.999267578125 7.0009765625 8.999267578125 C 4.79931640625 8.999267578125 2.99951171875 7.199462890625 2.99951171875 5.000244140625 Z M 5.00048828125 3.9990234375 L 5.00048828125 5.000244140625 C 5.00048828125 6.099853515625 5.9013671875 7.0006103515625 7.0009765625 7.0006103515625 C 8.10009765625 7.0006103515625 9.0009765625 6.099853515625 9.0009765625 5.000244140625 L 9.0009765625 3.9990234375 C 9.0009765625 2.8995361328125 8.10009765625 2.00048828125 7.0009765625 2.00048828125 C 5.9013671875 2.00048828125 5.00048828125 2.8995361328125 5.00048828125 3.9990234375 Z", :fill => "rgba(255,128,128,1)"}
      #New_Customers_A23_Group_25
        #ID3_00_A23_Text_32
          %span 3.00
        #Financial_Aid_Progress_Units
          %span Financial Aid Progress Units
        #Icon_A23_Group_26
          %svg.Icon_BG_A23_Ellipse_8
            %ellipse#Icon_BG_A23_Ellipse_8{:cx => "19", :cy => "19", :fill => "rgba(232,231,255,1)", :rx => "19", :ry => "19"}
          %svg.New_customer_Icon_A23_BooleanGroup_8{:viewbox => "0 0 16 16"}
            %path#New_customer_Icon_A23_BooleanGroup_8{:d => "M 12.0009765625 16 L 12.0009765625 13.9996337890625 L 10.00048828125 13.9996337890625 L 10.00048828125 12.0008544921875 L 12.0009765625 12.0008544921875 L 12.0009765625 10.00048828125 L 14.00146484375 10.00048828125 L 14.00146484375 12.0008544921875 L 16 12.0008544921875 L 16 13.9996337890625 L 14.00146484375 13.9996337890625 L 14.00146484375 16 L 12.0009765625 16 Z M 0 16 L 0 15.0006103515625 C 0 12.19970703125 2.20068359375 10.00048828125 5.00048828125 10.00048828125 L 8 10.00048828125 L 8 12.0008544921875 L 5.00048828125 12.0008544921875 C 3.69970703125 12.0008544921875 2.60009765625 12.7996826171875 2.20068359375 13.9996337890625 L 8 13.9996337890625 L 8 16 L 0 16 Z M 2.99951171875 5.000244140625 L 2.99951171875 3.9990234375 C 2.99951171875 1.7998046875 4.79931640625 0 7.0009765625 0 C 9.19970703125 0 10.99951171875 1.7998046875 10.99951171875 3.9990234375 L 10.99951171875 5.000244140625 C 10.99951171875 7.199462890625 9.19970703125 8.999267578125 7.0009765625 8.999267578125 C 4.79931640625 8.999267578125 2.99951171875 7.199462890625 2.99951171875 5.000244140625 Z M 5.00048828125 3.9990234375 L 5.00048828125 5.000244140625 C 5.00048828125 6.099853515625 5.9013671875 7.0006103515625 7.0009765625 7.0006103515625 C 8.10009765625 7.0006103515625 9.0009765625 6.099853515625 9.0009765625 5.000244140625 L 9.0009765625 3.9990234375 C 9.0009765625 2.8995361328125 8.10009765625 2.00048828125 7.0009765625 2.00048828125 C 5.9013671875 2.00048828125 5.00048828125 2.8995361328125 5.00048828125 3.9990234375 Z", :fill => "rgba(130,128,255,1)"}
      #New_Customers_A23_Group_27
        #ID10_0
          %span 10.0
        #Course_Contact_Hours
          %span Course Contact Hours
        #Icon_A23_Group_28
          %svg.Icon_BG_A23_Ellipse_9
            %ellipse#Icon_BG_A23_Ellipse_9{:cx => "19", :cy => "19", :fill => "rgba(255,231,231,1)", :rx => "19", :ry => "19"}
          %svg.New_customer_Icon_A23_BooleanGroup_9{:viewbox => "0 0 16 16"}
            %path#New_customer_Icon_A23_BooleanGroup_9{:d => "M 12.0009765625 16 L 12.0009765625 13.9996337890625 L 10.00048828125 13.9996337890625 L 10.00048828125 12.0008544921875 L 12.0009765625 12.0008544921875 L 12.0009765625 10.00048828125 L 14.00146484375 10.00048828125 L 14.00146484375 12.0008544921875 L 16 12.0008544921875 L 16 13.9996337890625 L 14.00146484375 13.9996337890625 L 14.00146484375 16 L 12.0009765625 16 Z M 0 16 L 0 15.0006103515625 C 0 12.19970703125 2.20068359375 10.00048828125 5.00048828125 10.00048828125 L 8 10.00048828125 L 8 12.0008544921875 L 5.00048828125 12.0008544921875 C 3.69970703125 12.0008544921875 2.60009765625 12.7996826171875 2.20068359375 13.9996337890625 L 8 13.9996337890625 L 8 16 L 0 16 Z M 2.99951171875 5.000244140625 L 2.99951171875 3.9990234375 C 2.99951171875 1.7998046875 4.79931640625 0 7.0009765625 0 C 9.19970703125 0 10.99951171875 1.7998046875 10.99951171875 3.9990234375 L 10.99951171875 5.000244140625 C 10.99951171875 7.199462890625 9.19970703125 8.999267578125 7.0009765625 8.999267578125 C 4.79931640625 8.999267578125 2.99951171875 7.199462890625 2.99951171875 5.000244140625 Z M 5.00048828125 3.9990234375 L 5.00048828125 5.000244140625 C 5.00048828125 6.099853515625 5.9013671875 7.0006103515625 7.0009765625 7.0006103515625 C 8.10009765625 7.0006103515625 9.0009765625 6.099853515625 9.0009765625 5.000244140625 L 9.0009765625 3.9990234375 C 9.0009765625 2.8995361328125 8.10009765625 2.00048828125 7.0009765625 2.00048828125 C 5.9013671875 2.00048828125 5.00048828125 2.8995361328125 5.00048828125 3.9990234375 Z", :fill => "rgba(255,128,128,1)"}
      %svg.Line_2
        %path#Line_2{:d => "M 0 0 L 69 0", :fill => "transparent", "shape-rendering" => "auto", :stroke => "rgba(180,28,96,1)", "stroke-linecap" => "butt", "stroke-linejoin" => "miter", "stroke-miterlimit" => "4", "stroke-width" => "3px"}
      #Alexander
        %span Alexander
      #Admin
        %span Admin
      #title_24px
        %svg.Path_311{:viewbox => "5 4 21.67 22.996"}
          %path#Path_311{:d => "M 5.000000476837158 4 L 5.000000476837158 8.59912109375 L 13.51305675506592 8.59912109375 L 13.51305675506592 26.99560546875 L 18.15653991699219 26.99560546875 L 18.15653991699219 8.59912109375 L 26.66959571838379 8.59912109375 L 26.66959571838379 4 L 5.000000476837158 4 Z", :fill => "rgba(248,113,145,1)"}
        %svg.Path_312{:viewbox => "0 0 37 37"}
          %path#Path_312{:d => "M 0 0 L 37 0 L 37 37 L 0 37 L 0 0 Z", :fill => "transparent"}
      #widgets_24px
        %svg.Path_313{:viewbox => "3 1.69 32.32 32.31"}
          %path#Path_313{:d => "M 19.72878074645996 20.61418914794922 L 19.72878074645996 34 L 33.11180114746094 34 L 33.11180114746094 20.61418914794922 L 19.72878074645996 20.61418914794922 Z M 3.000000238418579 34 L 16.38302421569824 34 L 16.38302421569824 20.61418914794922 L 3.000000238418579 20.61418914794922 L 3.000000238418579 34 Z M 3.000000238418579 3.881926536560059 L 3.000000238418579 17.26773834228516 L 16.38302421569824 17.26773834228516 L 16.38302421569824 3.881926536560059 L 3.000000238418579 3.881926536560059 Z M 25.85151290893555 1.690000057220459 L 16.38302421569824 11.1437292098999 L 25.85151290893555 20.61418914794922 L 35.31999969482422 11.1437292098999 L 25.85151290893555 1.690000057220459 Z", :fill => "rgba(52,159,198,1)"}
        %svg.Path_314{:viewbox => "0 0 37 37"}
          %path#Path_314{:d => "M 0 0 L 37 0 L 37 37 L 0 37 L 0 0 Z", :fill => "transparent"}
      #date_range_24px
        %svg.Path_315{:viewbox => "3 2 31 33"}
          %path#Path_315{:d => "M 13.33333301544189 16.85000038146973 L 9.888888359069824 16.85000038146973 L 9.888888359069824 20.14999961853027 L 13.33333301544189 20.14999961853027 L 13.33333301544189 16.85000038146973 Z M 20.22222328186035 16.85000038146973 L 16.77777862548828 16.85000038146973 L 16.77777862548828 20.14999961853027 L 20.22222328186035 20.14999961853027 L 20.22222328186035 16.85000038146973 Z M 27.11111068725586 16.85000038146973 L 23.66666793823242 16.85000038146973 L 23.66666793823242 20.14999961853027 L 27.11111068725586 20.14999961853027 L 27.11111068725586 16.85000038146973 Z M 30.55555534362793 5.300000190734863 L 28.83333396911621 5.300000190734863 L 28.83333396911621 2 L 25.38888931274414 2 L 25.38888931274414 5.300000190734863 L 11.61111068725586 5.300000190734863 L 11.61111068725586 2 L 8.166666030883789 2 L 8.166666030883789 5.300000190734863 L 6.444443702697754 5.300000190734863 C 4.532777786254883 5.300000190734863 3.017222166061401 6.784999847412109 3.017222166061401 8.59999942779541 L 2.999999761581421 31.70000076293945 C 2.999999761581421 33.51499938964844 4.532777786254883 35 6.444443702697754 35 L 30.55555534362793 35 C 32.45000076293945 35 34 33.51499938964844 34 31.70000076293945 L 34 8.59999942779541 C 34 6.784999847412109 32.45000076293945 5.300000190734863 30.55555534362793 5.300000190734863 Z M 30.55555534362793 31.70000076293945 L 6.444443702697754 31.70000076293945 L 6.444443702697754 13.54999923706055 L 30.55555534362793 13.54999923706055 L 30.55555534362793 31.70000076293945 Z", :fill => "rgba(120,70,194,1)"}
        %svg.Path_316{:viewbox => "0 0 37 37"}
          %path#Path_316{:d => "M 0 0 L 37 0 L 37 37 L 0 37 L 0 0 Z", :fill => "transparent"}
      #Group_245
        %svg{:style => "width:inherit;height:inherit;overflow:visible;"}
          %rect{:fill => "url(#Group_245_A23_Group_34_pattern)", :height => "100%", :width => "100%"}
          %pattern#Group_245_A23_Group_34_pattern{:elementid => "Group_245_A23_Group_34", :height => "100%", :width => "100%", :x => "0", :y => "0"}
            %image{:height => "100%", :href => "/images/Group_245_A23_Group_34_pattern.png", :width => "100%", :x => "0", "xlink:href" => "Group_245_A23_Group_34_pattern.png", :y => "0"}
